@using ViewsExample.Models
@{
    string appTitle = "Asp.Net Croe Demo App";
    Person person = new Person()
            {
                Name = "jon",
                DateOfBirth = Convert.ToDateTime("2007-08-10"),
                PersonGender = Gender.Other
    //null
    //Convert.ToDateTime("2007-08-10") 
    };

    List<Person> people = new List<Person>()
    {
        new Person() { Name="John", DateOfBirth = DateTime.Parse("2000-05-09"), PersonGender = Gender.Male},
        new Person() { Name="Linda", DateOfBirth = DateTime.Parse("2002-06-09"), PersonGender = Gender.Female},
        new Person() { Name="Bob", DateOfBirth = DateTime.Parse("2004-07-19"), PersonGender = Gender.Other}
    };
}
<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        @* <title>Asp.Net Core App</title> *@
        <title>@appTitle</title>
        <meta charset="utf-8" />
    </head>

    <body>
    <h1>Welcome</h1>
    <h2>Hello @person.Name</h2>
    @if (person.DateOfBirth.HasValue)
    {
        double age = Math.Round((DateTime.Now - person.DateOfBirth).Value.TotalDays / 365.25);
        <h3>@age years old</h3>
    }
    else
    {
        <h3>Date of Birth is unknown!</h3>
    }

    @switch (person.PersonGender)
    {
        case Gender.Male:
            <p>Nov 19 is mens day!</p>
            ;
            break;
        case Gender.Female:
            <p>March 8 is womens day!</p>
            ;
            break;
        case Gender.Other:
            <p>Marc 3 is other day!</p>
            ;
            break;
    }

    @foreach (Person personItem in people)
    {
        <div>
            @personItem.Name 
            @if(personItem.DateOfBirth != null)
            {
                <span>,</span> 
                @personItem.DateOfBirth
            }
            <span>, </span> 
            @personItem.PersonGender 
        </div>
    }
    <br/>

    @for (int i = 0; i < people.Count-1; i++)
    {
        Person person1 = people[i];
        @* <span>Hello to</span> *@
        @:Hello to with razor
        <text>Hello to all</text>
        <div>
            @person1.Name
            @if (person1.DateOfBirth != null)
            {
                <span>,</span>
                @person1.DateOfBirth
            }
            <span>, </span>
            @person1.PersonGender
        </div>
    }



    </body>
</html>