@model IEnumerable<string>

@{
    ViewBag.Title = "Home";
}

<h1>Cities</h1>

<div>
    <ul class="list">
    @foreach(string city in Model){
        <li>@city</li>
    }
    </ul>

    <div>@ViewBag.CitiesServiceInstanceId1</div>
    <div>@ViewBag.CitiesServiceInstanceId2</div>
    <div>@ViewBag.CitiesServiceInstanceId3</div>

    <div class="box">@ViewBag.CitiesServiceInstanceId_ServiceScope</div>
</div>
